<?xml version="1.0"?>
<robot name="quarobo" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find quarobo_description)/urdf/leg/leg.urdf.xacro"/>

    <link name="base_link"/>

        <!-- === body === -->
    <joint name="body_joint" type='fixed'>
        <parent link="base_link"/>
        <child link="body_link"/>
    </joint>

    <link name="body_link">
        <visual>
            <geometry>
                <mesh filename="package://quarobo_description/meshes/origin_ros_quarobo_stlFiles/body.stl"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="red"/>
        </visual>
    </link>

    <!-- === Front right === -->
    <xacro:leg_macro prefix="FRS" parent="body_link" mesh="front_Shoulder_R.stl" color="green">
        <axis xyz="0 1 0"/>
        <origin xyz="-0.027 -0.04905 -0.00075" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="FRL" parent="FRS_link" mesh="front_Leg_R.stl" color="blue">
        <axis xyz="1 0 0"/>
        <origin xyz="0 -0.022304 -0.01230" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="FRF" parent="FRL_link" mesh="front_Foot_R.stl" color="purple">
        <axis xyz="1 0 0"/>
        <origin xyz="-0.015546 -0.054 0" rpy="0 0 0"/>
    </xacro:leg_macro>


    <!-- === Front left === -->
    <xacro:leg_macro prefix="FLS" parent="body_link" mesh="front_Shoulder_L.stl" color="green">
        <axis xyz="0 1 0"/>
        <origin xyz="0.027 -0.04905 -0.00075" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="FLL" parent="FLS_link" mesh="front_Leg_L.stl" color="blue">
        <axis xyz="1 0 0"/>
        <origin xyz="0 -0.022304 -0.01230" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="FLF" parent="FLL_link" mesh="front_Foot_L.stl" color="purple">
        <axis xyz="1 0 0"/>
        <origin xyz="0.015546 -0.054 0" rpy="0 0 0"/>
    </xacro:leg_macro>


    <!-- === Rear right === -->
    <xacro:leg_macro prefix="RRS" parent="body_link" mesh="rear_Shoulder_R.stl" color="green">
        <axis xyz="0 1 0"/>
        <origin xyz="-0.027 0.04905 -0.00075" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="RRL" parent="RRS_link" mesh="rear_Leg_R.stl" color="blue">
        <axis xyz="1 0 0"/>
        <origin xyz="0 0.022304 -0.01230" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="RRF" parent="RRL_link" mesh="rear_Foot_R.stl" color="purple">
        <axis xyz="1 0 0"/>
        <origin xyz="-0.015546 0.054 0" rpy="0 0 0"/>
    </xacro:leg_macro>


    <!-- === Rear left === -->
    <xacro:leg_macro prefix="RLS" parent="body_link" mesh="rear_Shoulder_L.stl" color="green">
        <axis xyz="0 1 0"/>
        <origin xyz="0.027 0.04905 -0.00075" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="RLL" parent="RLS_link" mesh="rear_Leg_L.stl" color="blue">
        <axis xyz="1 0 0"/>
        <origin xyz="0 0.022304 -0.01230" rpy="0 0 0"/>
    </xacro:leg_macro>

    <xacro:leg_macro prefix="RLF" parent="RLL_link" mesh="rear_Foot_L.stl" color="purple">
        <axis xyz="1 0 0"/>
        <origin xyz="0.015546 0.054 0" rpy="0 0 0"/>
    </xacro:leg_macro>

</robot>
